<!DOCTYPE html>
<html><head>
<title>My E-Learning site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/kickstart.js"></script>                                
</head>
<body>

<!-- Menu Horizontal -->
<%- include('layouts/header') -%>

<div class="grid">
	

	 
<div class="col_12">
	<%- include('layouts/welcome') -%>
	
	<%- include('layouts/login') -%>
	
    <hr />
    
    
    <%  classes.forEach(function(value){%>
	<div class="col_4">
	<h4><%= value.title %></h4>
	<p><%= value.description %></p>
    <a class="buttton" href="/classes/<%= value._id%>">View class</a>
	</div>
	<% }) %>
	
	
	
</div>

</div>

<!-- ===================================== START FOOTER ===================================== -->
<%- include('layouts/footer') -%>
</body></html>