<!-- student -->











	


	
    
    <h2><%= instructor.firstname%>'s classes' </h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>class ID</th>
            <th>Class Name</th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            <% (instructor.classes).forEach(function(classes){ %>
                <tr>
                    <td><%=classes.class_id %></td>
                    <td><%=classes.class_title %></td>
                    <td><a href="/classes/<%=classes.class_id %>/lessons">View Lessons</a></td>
                    <td> <a href="/instructors/classes/<%=classes.class_id %>/lessons/new">Add Lessons</a> </td>
                </tr>


             <% }) %>
        </tbody>
        
    </table>

    <!-- <div class="col_3"> -->
        <!-- <h3>Welcome back <%= instructor.firstname%></h3>
        <a href="#">My Classes</a>

        <br>
        <br>
        <a href="/users/signout">Logout</a>
		<br>
		<br>
		<a href="">Profile</a> -->
    
	
	

   
    
    
   
	
	
	
</div>

</div>

<!-- ===================================== START FOOTER ===================================== -->
<!-- <%- include('layouts/footer') -%> -->
</body></html>