<!-- student -->







<!DOCTYPE html>
<html><head>
<title>My E-Learning site</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />                          
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/kickstart.js"></script>                                
</head>
<body>

<!-- Menu Horizontal -->
<%- include('layouts/header') -%>

<div class="grid">
	

	 
<div class="col_12">
	
    
    <h2><%= instructor.firstname%>'s classes' </h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>class ID</th>
            <th>Class Name</th>
            <th></th>
        </tr>
        <tbody>
            <% (instructor.classes).forEach(function(classes){ %>
                <tr>
                    <td><%=classes.class_id %></td>
                    <td><%=classes.class_title %></td>
                    <td><a href="/classes/<%=classes.class_id %>/lessons">View Lessons</a></td>
                </tr>


             <% }) %>
        </tbody>
        
    </table>

    <!-- <div class="col_3"> -->
        <h3>Welcome back <%= instructor.firstname%></h3>
        <a href="#">My Classes</a>

        <br>
        <br>
        <a href="/users/signout">Logout</a>
		<br>
		<br>
		<a href="">Profile</a>
    <!-- </div> -->
	
	

    <hr />
    
    
   
	
	
	
</div>

</div>

<!-- ===================================== START FOOTER ===================================== -->
<%- include('layouts/footer') -%>
</body></html>