








>
	

	 

	
    
    <h2><%= student.firstname%>'s classes' </h2>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>class ID</th>
            <th>Class Name</th>
            <th></th>
        </tr>
        <tbody>
            <% (student.classes).forEach(function(classes){ %>
                <tr>
                    <td><%=classes.class_id %></td>
                    <td><%=classes.class_title %></td>
                    <td><a href="/classes/<%=classes.class_id %>/lessons">View Lessons</a></td>
                </tr>


             <% }) %>
        </tbody>
        
    </table>

    
        <h3>Welcome back <%= student.firstname%></h3>
        <a href="#">My Classes</a>

        <br>
        <br>
        <a href="/users/signout">Logout</a>
		<br>
		<br>
		<a href="">Profile</a>
    
	
	

    <hr />
    
    
   
	
	
	
